.feature1-flex{
    display: flex;
    height: 100vh;
    justify-content:space-evenly;
    background-color: black;
    color: aliceblue;
}

.f{   
 width: 50%;
}

#f2{
    padding-top: 80px;
    text-align: left;
}

#img1{
    padding-left: 200px;
    padding-top: 180px;
    
}