.feedback-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.feed{
    width:25vh;
    height:25vh;
    text-align: left;
    border: 15px #f0eaea;
    background-color: aliceblue;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 5%;
}
#feed1{
    background-color:#333;
    color: #f0eaea;
}
#feed2{
    background-color: #333;
    color: #f0eaea;
}
#feed3{
    background-color:#333;
    color:#f0eaea
}


.feed h6{
    font-size: 16px;
    font-style: italic;
    color:#fff;
  }