.foot{
    display: flex;
    justify-content: space-between;
}

#foot1{
    padding-top: 300px;
    padding-left: 15px;
    color:white;
    font-size: 19px;
}

#foot2{
    padding-top: 300px;
    padding-left: 10px;
    color:white;
    font-size: 16px;
}

#foot3{
    padding-top: 300px;
    padding-left: 10px;
    color:white;
    font-size: 16px;
}

#foot4{
    padding-top: 300px;
    padding-left: 10px;
    color:white;
    font-size: 16px;
}

#foot5{
    padding-top: 300px;
    padding-right: 10px;
    color:white;
    font-size: 16px;
}
