.homepage{
    padding-top: 20px;
    padding-left: 15px;
    background-color: #333;
    color: aliceblue;
}

.chfont{
    font-style: italic;
}

#pg1{
    font-size: 20px;
    font-style: italic;
}

#pg2{
    font-size: 20px;
    font-style: italic;
}
