.Posepage{
    padding-top: 20px;
    padding-left: 15px;
    background-color: #333;
    color: aliceblue;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.chfont{
    font-style: italic;
}

#pg1{
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

#pg2{
    font-size: 20px;
    font-style: italic;
}
