/* src/components/Login.css */
.form-container {
   position: fixed;
  top: 20vh;
  left: 15vh;
  width: 50vh; /* Set a maximum width if needed */
  height: 58vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3vh;
  opacity: 0.75;
  border-radius: 30px;
  }
  
  .form-container h2 {
    color: #eeeded;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

  }
  
  label {

    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 1vh;
    margin-top:1vh;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 0.5vh;
  }
  
  .form-container button {
    /* margin-top: 5vh; */
    /* background-color: #3498db; */
    background-color: #74484e;
    color: #fff;
    /* padding: 10px 18vh ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; */
    font-size: larger;
    width: 100%;
    padding: 1vh;
    margin-top:1vh;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 0.5vh;
  }
  
   .form-container button:hover {
    /* background-color: #2980b9; */
    background-color: #59383a;
  }
  
 
 
 
  .login-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/login.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
  }
  
  .form-container p {
    
    color: #3498db;
    cursor: pointer;
    margin-top: 10px;
    color:white;
  }
  
  p:hover {
    text-decoration: underline;
  }

  .login-signup-container {
    align-items:flex-start;
  }

  

  .login-signup-container p{
    padding-left: 18vh;
    padding-top: 76vh;
    font-size: 20px;
    color:white;
    font-weight:bold;
    text-decoration: none;
  }

  .login-signup-container h1{
    padding-left: 15vh;
  }

 .loglabel{
  margin-bottom: 10vh;
 }   